.carousel-container {
	position: relative;
	overflow: hidden;
}

.carousel {
	position: relative;
	height: 300px;
	top: 0;
	left: 0;
	color: hsla(0, 90%, 98%, 1);
}

.carousel > .slide {
	display: none;
	position: absolute;
	overflow: hidden;
	height: 300px;
}

.carousel > .slide.active {
	display: inline-block;
}

.carousel > .slide > .info {
	position: absolute;
	bottom: 0;
	width: 50%;
	padding-left: 2em;
	padding-bottom: 1em;
	text-align: left;
	text-shadow: hsla(0, 0%, 0%, 0.8)
		0px 0px 5px;
}

.carousel > .slide > .info > p {
	height: 2em;
}

.carousel-container > .controls {
	position: absolute;
	bottom: 0;
	width: 100%;
}

.carousel-container > .controls > ol {
	position: absolute;
	bottom: 0;
	left: 25%;
	right: 25%;
	width: 50%;
	list-style: none;
	padding: 0;
	margin: 0.5em 0;
	text-align: center;
}

.carousel-container > .controls > ol > li {
	display: inline-block;
	width: 1em;
	height: 1em;
	background-color: hsla(0, 5%, 18%, 1);
	border-radius: 1em;
	cursor: pointer;
}

.carousel-container > .controls > ol > li.active {
	background-color: hsla(0, 5%, 98%, 1);
}