---
layout: main
hello: hi
permalink: /
---

{% include carousel.html %}

<div class="section">
<div class="heading">
<hr>
<h2>News</h2>
</div>

<div class="news-preview">
{% for post in site.categories.news limit: 10 %}
	{% include preview.html type="news" %}
{% endfor %}
</div>
</div>

<div class="section">
<div class="heading">
<hr>
<h2>Features</h2>
</div>

<div class="preview">
{% for post in site.categories.feature limit: 10 %}
	{% include preview.html %}
{% endfor %}
</div>
</div>

<div class="section">
<div class="heading">
<hr>
<h2>Reviews</h2>
</div>

<div class="preview">
{% for post in site.categories.review limit: 10 %}
	{% include preview.html %}
{% endfor %}
</div>
</div>