<div class="carousel-container">
	<div class="carousel">
	{% for post in site.posts %}
		<div
			class="slide{% if forloop.first %} active{% endif %}">
			<div class="image">
				<a href="{{ post.url }}">
					<img src="/media/{{ post.image }}.jpg" alt="{{ post.title }}" />
				</a>
			</div>
			<div class="info">
				<h3>
					<a href="{{ post.url }}">
						{{ post.title }}
					</a>
				</h3>
				<p class="subhead">
					<a href="{{ post.url }}">
						{{ post.subhead }}
					</a>
				</p>
			</div>
		</div>
	{% endfor %}
	</div>
	<div class="controls">
		<div class="left-control">
		</div>
		<div class="right-control">
		</div>
		<ol class="markers">
		{% for post in site.posts %}
			<li
				data-target="#myCarousel"
				data-slide-to="{{ forloop.index | minus:1 }}"
				{% if forloop.first %}class="active"{% endif %}></li>
		{% endfor %}
		</ol>
	</div>
</div>