---
---
<html>
	<head>
		<title>{{ site.title }}</title>
		<link rel="stylesheet" href="/css/jingle.css" />
		<link rel="stylesheet" href="/css/footer.css" />
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css" />
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
		{% if page.url == "/" %}<link rel="stylesheet" href="/css/preview.css" />
		<link rel="stylesheet" href="/css/carousel.css" />
		<script src="/js/carousel.js"></script>
		{% endif %}
	</head>
	<body>
		<div id="head">
			<h1><a href="/"><img src="/media/logo/480_120.jpg" alt="Close Up." height="72" width="288" /></a></h1>
			<nav>
				<ul>
					<li{% if page.url == "/review/" %} class="active"{% endif %}><a href="/review/">Reviews</a>
					<li{% if page.url == "/podcast/" %} class="active"{% endif %}><a href="/podcast/">Podcasts</a>
					<li{% if page.url == "/news/" %} class="active"{% endif %}><a href="/news/">News</a>
					<li{% if page.url == "/features/" %} class="active"{% endif %}><a href="/features/">Features</a>
				</ul>
			</nav>
		</div>
		<div id="main">
			{{ content }}
		</div>
		<div id="footer">
			<ul id="links">
				<li><a href="/team/">Meet The Team</a></li>
				<li><a href="/contact/">Contact Us</a></li>
				<li><a href="/">Another Link</a></li>
				<li><a href="/">Another Link</a></li>
				<li><a href="/">Another Link</a></li>
			</ul>
			<div id="copyright">
				<p>&copy; Copyright 2016 Close-Up On Film.</p>
				<p>All Rights Reserved.</p>
			</div>
			<div id="social">
				<p>Feeling social?</p>
				<ul>
					<li><a href="{{ site.twitter }}"><span class="fa fa-twitter"></span></a></li>
					<li><a href="{{ site.facebook }}"><span class="fa fa-facebook"></span></a></li>
					<li><a href="{{ site.instagram }}"><span class="fa fa-instagram"></span></a></li>
				</ul>
			</div>
		</div>
	</body>
</html>
