---
layout: main
---
<h3>{{ page.title }}</h3>
<p id="postinfo">
<span id="byline">
by {{ page.author }}
</span>
<span id="date">
{% assign d = page.date | date: "%-d"  %}
{% case d %}
	{% when '1' or '21' or '31' %}{{ d }}st
	{% when '2' or '22' %}{{ d }}nd
	{% when '3' or '23' %}{{ d }}rd
	{% else %}{{ d }}th
{% endcase %}
{{ page.date | date: "%B %Y" }}
</span>
</p>
<div class="image">
	<img src="/media/{{ page.image }}.jpg" alt="{{ page.title }}" />
	{% if page.image_caption %}
	<p>
	{{ page.image_caption }}
	</p>
	{% endif %}
</div>
<div id="content">
	{{ content }}
</div>